<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <header><%- include('./partials/header') %></header>
    <main>
        <% if(typeof locals.currentUser !=='undefined' ) { %>
            <h1>Welcome <%= currentUser.first_name %>
            </h1>
            <p>Write a new <a href="/message">message</a></p>
            <% } else { %>
                <h1>Welcome to my member page</h1>
                <% } %>

                    <!-- Display messages -->
                    <% if(messages.length> 0) { %>
                        <% messages.forEach(message=> { %>
                            <div class="message">
                                <p>
                                    <%= message.content %>
                                </p>
                                <!-- if member display author and time -->
                                <% if(typeof locals.currentUser !=='undefined' ) { %>
                                    <% if(locals.currentUser.membership_status===true ) { %>
                                        <p class="msg-author">
                                            <%= message.author.first_name %> <span class="msg-date">
                                                    <%= message.dateFormatted %>
                                                </span>

                                                <!-- If admin display delete button -->
                                                <% if(locals.currentUser.admin) { %>
                                                    <form action="" method="post">
                                                        <input type="hidden" name="messageid"
                                                            value="<%= message._id %>">
                                                        <button type="submit" class="delete">Delete</button>
                                                    </form>
                                                    <% } %>
                                        </p>
                                        <% } %>
                                            <% } %>
                                                <% }) %>
                            </div>
                            <% } %>
    </main>

</body>

</html>